.layout {
  display: flex;
  min-height: 100vh;
  /* margin-top: 60px; */
  position: relative;
}

.contentOpen {
  /* margin-left: 250px; */
  flex: 1;
  /* transition: margin-left 0.3s ease; */
}

.contentClosed {
  /* margin-left: 60px; */
  flex: 1;
  /* transition: margin-left 0.3s ease; */
} 