.layout {
  display: flex;
  min-height: 100vh;
  margin-top: 60px;
}

.contentOpen {
  margin-left: 250px;
  padding: 20px;
  flex: 1;
  /* transition: margin-left 0.3s ease; */
}

.contentClosed {
  margin-left: 60px;
  padding: 20px;
  flex: 1;
  /* transition: margin-left 0.3s ease; */
} 